* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.hero-background {
  background: linear-gradient(to top, black, rgb(166, 1, 166), rgba(196, 47, 196, 0.573), rgba(234, 159, 236, 0.927), beige);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  background: rgba(174, 126, 171, 0.916);
  z-index: 10;
}

.btn {
  background: rgba(200, 64, 238, 0.2);
  padding: 0.4rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  border: 4px dotted rgba(255, 254, 254, 0.4);
  transition: 0.8s;
}

.btn:hover {
  transform: scale(1.05);
  background: rgba(137, 32, 207, 0.658);
}

.btn.active {
  background: rgba(143, 71, 182, 0.831);
  color: #2c2c2c;
}

.hero-sides {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4rem 8rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-column1 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card-column2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card1 {
  background: rgba(220, 166, 197, 0.47);
  border: 3px solid rgb(93, 93, 206);
  border-radius: 25px;
  padding: 1.5rem;
  color:black;
  width: 300px;
  text-align: center; 
  box-shadow: 0 0 25px white;
  backdrop-filter: blur(12px);
}

.card1 img {
  max-width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
  transform: scale(1.1);
}

.card2 {
  background: rgba(82, 216, 216, 0.1);
  border: 2px dashed cyan;
  border-radius: 20px;
  padding: 1.5rem;
  color: white;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.card2 img {
  max-width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.card3 {
  background: rgba(255, 255, 0, 0.1);
  border: 4px dotted yellow;
  border-radius: 20px;
  padding: 1.5rem;
  color: black;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 25px rgba(255, 255, 0, 0.4);
  backdrop-filter: blur(8px);
}

.card3 img {
  max-width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
}

.card4 {
  background: rgba(50, 255, 150, 0.1);
  border: 2px solid lime;
  border-radius: 12px;
  padding: 1.5rem;
  color: white;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 45px rgba(50, 255, 150, 0.4);
  backdrop-filter: blur(6px);
}

.card4 img {
  max-width: 100%;
  border-radius: 0.8rem;
  margin: 1rem 0;
}

/* RESPONSIVE 
@media (max-width: 960px) {
  .hero-sides {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .card-column {
    width: 100%;
    align-items: center;
  }
} */