* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /* background: linear-gradient(to bottom, #6b1b1b, rgb(198, 43, 43), red, #ffffff); */
  background-image: url('../img/bg.jpg');
  color: white;
  font-family:cursive; 
  min-height: 100vh;
  
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  background: rgba(250, 160, 160, 0.523);
  position: relative;
  z-index: 10;
}

.btn {
  background: rgb(224, 46, 46);
  padding: 0.4rem 1.5rem;
  border-radius: 7px;
  font-weight: bold;
  color: white;
  border: 1.5px dashed rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.3);
}

.btn.active {
  background: white;
  color: #2c2c2c;
}

.hero-sides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 90px);
  padding: 20rem;
  gap: 15rem;
}

.right {
  flex: 1;
  text-align: right;
}

.right .note {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.right .title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0.5rem;
}

.right h2 {
  font-weight: 300;
  font-size: 1.5rem;
}

.logo {
  width: 100px; 
  height: auto;
  border-radius: 10px; 
}


.card {
  background: linear-gradient(65deg, rgba(0, 41, 244, 0.525),  rgba(134, 143, 211, 0.429),rgb(46, 46, 46), rgba(28, 35, 90, 0.429));
  padding: 1rem;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid rgb(123, 12, 12);
  box-shadow: 0 0 40px rgb(0, 0, 0);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 350px;
  text-align: center;
}

.card-img {
  max-width: 100%;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
