* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Times New Roman', Times, serif;
}

body {
    color: white;
    background: rgb(66, 133, 225);
    flex-direction: column;
    min-height: 100vh; 
    align-items: center;
    justify-content: space-between; 
}

.hero-background {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  overflow: hidden;
}

.hero-background::before {
    content: "";
    position: absolute;
    inset: 0; 
    z-index: -1;
    background-image: url('../img/sb19-jumpshot.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    filter: sepia(0.4) hue-rotate(-10deg) opacity(0.6);
}


.header {
    /* width: calc(100vw - rem);  */
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem;
    gap: 2rem;
    color: black;
    height: fit-content;
    z-index: 10;
}

.header .btn {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301);
    font-size: 1.2rem;
    border: 3px solid rgba(0, 17, 255, 0.212);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-weight: 700;
    text-decoration: none;
    /* color: var(--color-primary-1); */
    color: black; 
    overflow: visible;
    transition: all 0.2s ease;
    position: relative;
}

.header .btn.active {
    background: rgba(255, 255, 255, 0.479);
}

.header .btn::before {
    position: absolute;
    width: 10px;
    height: 50px;
    z-index: -1;
    background: rgba(115, 159, 255, 0.1);
    display: block;
    content: '';
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: skew(20deg) translateY(-5px) translateX(40px);
    transition: all 0.2s ease;
}

.header .btn:hover {
    transform: scale(1.1);
}

.header .btn:hover::before {
    transform: skew(20deg) translateY(-5px) translateX(-20px);
}


.main-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 2rem 1rem; 
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    text-align: center; 
}

.top .course {
    font-size: 3rem;
    letter-spacing: 0.8rem;
    font-weight: 300;
}

.top .title {
    font-size: 7rem;
    letter-spacing: 1.5rem;
}

.top .subtitle {
    font-weight: 500;
    letter-spacing: 1rem;
}

.hero-content-1 {
    text-align: center;
}


.bottom {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: white;
    z-index: 10; 
}

.bottom .year {
    font-weight: 300;
}
