* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.hero-background {
  background-image: url('../img/bg.jpg');
  filter: sepia(0.1) hue-rotate(-10deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  background: rgba(12, 38, 52, 0.386);
  z-index: 10;
}

.btn {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.3rem 1rem;
  border-radius: 9px;
  font-weight: bold;
  color: black;
  border: 3px dashed  rgba(255, 255, 255, 0.4);
  transition: 0.7s;
}

.btn:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.3);
}

.btn.active {
  background: white;
  color: #2c2c2c;
}

.hero-sides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 90px);
  padding: 4rem 16rem;
  gap: 3rem;
}

.card {
  background: rgba(250, 249, 162, 0.1);
  padding: 1rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2.5px solid rgb(220, 227, 142);
  box-shadow: 0 0 50px rgb(219, 210, 210);
  color: black;
  width: 350px;
  text-align: center;
}

.card-img {
  max-width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
}
